body{
    background-color: rgb(4, 43, 95);
}
.card{
    background-color: rgb(4, 57, 114);
    height: 657px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.overview{
    position: absolute;
    /* height: 100%; */
    bottom: 0;
    left: 0;
    transform: translateY(1000px);
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
    font-style: italic;
}
.card:hover .overview{
    transform: translateY(0);
}
.myImg{
    height: 496px;
}
.myImg img{
    height: 100%;
}
.headings h4{
    float: left;
    width: 240px;
}
.headings span{
    float: right;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 5px 8px;
    border-radius: 5px;
    width: 37px;
    text-align: center;
}
.green{
    color: greenyellow;
}
.yellow{
    color: yellow;
}
.red{
    color: red;
}